<html>

<head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lookup.css') }}">

</head>

<body>

    {% include 'nav.html' %}

    <div align="center">
        <div class="jumbotron" align="center" style="color:black">
            <h5>Asteroid ID</h5> <input type="text" id="asteroidID" name="asteroidID"><br><br>
            <input type="button" class="btn btn-primary" name="submit" value="Submit" onclick=formProcess()>
        </div>
    </div>
    <p id="asteroid_info" align="center" style="font-size: large">
    </p>


    <script src="{{url_for('static', filename='js/lookupforanasteroid.js')}}"></script>
    <script src="{{url_for('static', filename='js/stars.js')}}"></script>


</body>

</html>