<nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan" style="font-weight: 800; font-size: large;">
    <a class="navbar-brand font-bold" href="/">ASTEROID ARENA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/"><b>Home </b><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/asteroidalert"><b>Asteroid Alert </b><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/asteroidfeed"> <b>Asteroid Feed</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lookupforanasteroid"> <b>Look up by Asteroid ID</b></a>
            </li>

        </ul>
    </div>
</nav>